---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=naru%20victoria%20bc&key=<GOOGLE
      MAPS API KEY>&language=en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "NARU Korean Restaurant, Wharf Street, Victoria, BC, Canada",
                 "id" : "60cefdab8e9827bd470184a6d37958a9c796f111",
                 "matched_substrings" : [
                    {
                       "length" : 4,
                       "offset" : 0
                    },
                    {
                       "length" : 8,
                       "offset" : 38
                    },
                    {
                       "length" : 2,
                       "offset" : 48
                    }
                 ],
                 "place_id" : "ChIJsTuRCYV1j1QRXsKUhvyChQQ",
                 "reference" : "ChIJsTuRCYV1j1QRXsKUhvyChQQ",
                 "structured_formatting" : {
                    "main_text" : "NARU Korean Restaurant",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 4,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "Wharf Street, Victoria, BC, Canada",
                    "secondary_text_matched_substrings" : [
                       {
                          "length" : 8,
                          "offset" : 14
                       },
                       {
                          "length" : 2,
                          "offset" : 24
                       }
                    ]
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "NARU Korean Restaurant"
                    },
                    {
                       "offset" : 24,
                       "value" : "Wharf Street"
                    },
                    {
                       "offset" : 38,
                       "value" : "Victoria"
                    },
                    {
                       "offset" : 48,
                       "value" : "BC"
                    },
                    {
                       "offset" : 52,
                       "value" : "Canada"
                    }
                 ],
                 "types" : [ "restaurant", "food", "point_of_interest", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 04 Feb 2020 01:33:09 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE MAPS
      API KEY>&language=en&placeid=ChIJsTuRCYV1j1QRXsKUhvyChQQ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\"
        : [\n         {\n            \"long_name\" : \"1218\",\n            \"short_name\"
        : \"1218\",\n            \"types\" : [ \"street_number\" ]\n         },\n
        \        {\n            \"long_name\" : \"Wharf Street\",\n            \"short_name\"
        : \"Wharf St\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n
        \           \"long_name\" : \"Downtown\",\n            \"short_name\" : \"Downtown\",\n
        \           \"types\" : [ \"neighborhood\", \"political\" ]\n         },\n
        \        {\n            \"long_name\" : \"Victoria\",\n            \"short_name\"
        : \"Victoria\",\n            \"types\" : [ \"locality\", \"political\" ]\n
        \        },\n         {\n            \"long_name\" : \"Capital\",\n            \"short_name\"
        : \"CRD\",\n            \"types\" : [ \"administrative_area_level_2\", \"political\"
        ]\n         },\n         {\n            \"long_name\" : \"British Columbia\",\n
        \           \"short_name\" : \"BC\",\n            \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n         },\n         {\n            \"long_name\" : \"Canada\",\n
        \           \"short_name\" : \"CA\",\n            \"types\" : [ \"country\",
        \"political\" ]\n         },\n         {\n            \"long_name\" : \"V8W
        1T8\",\n            \"short_name\" : \"V8W 1T8\",\n            \"types\" :
        [ \"postal_code\" ]\n         }\n      ],\n      \"adr_address\" : \"\\u003cspan
        class=\\\"street-address\\\"\\u003e1218 Wharf St\\u003c/span\\u003e, \\u003cspan
        class=\\\"locality\\\"\\u003eVictoria\\u003c/span\\u003e, \\u003cspan class=\\\"region\\\"\\u003eBC\\u003c/span\\u003e
        \\u003cspan class=\\\"postal-code\\\"\\u003eV8W 1T8\\u003c/span\\u003e, \\u003cspan
        class=\\\"country-name\\\"\\u003eCanada\\u003c/span\\u003e\",\n      \"formatted_address\"
        : \"1218 Wharf St, Victoria, BC V8W 1T8, Canada\",\n      \"formatted_phone_number\"
        : \"(250) 590-5298\",\n      \"geometry\" : {\n         \"location\" : {\n
        \           \"lat\" : 48.426445,\n            \"lng\" : -123.370475\n         },\n
        \        \"viewport\" : {\n            \"northeast\" : {\n               \"lat\"
        : 48.4278221302915,\n               \"lng\" : -123.3689770197085\n            },\n
        \           \"southwest\" : {\n               \"lat\" : 48.4251241697085,\n
        \              \"lng\" : -123.3716749802915\n            }\n         }\n      },\n
        \     \"icon\" : \"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \     \"id\" : \"60cefdab8e9827bd470184a6d37958a9c796f111\",\n      \"international_phone_number\"
        : \"+1 250-590-5298\",\n      \"name\" : \"NARU Korean Restaurant\",\n      \"opening_hours\"
        : {\n         \"open_now\" : true,\n         \"periods\" : [\n            {\n
        \              \"close\" : {\n                  \"day\" : 1,\n                  \"time\"
        : \"1600\"\n               },\n               \"open\" : {\n                  \"day\"
        : 1,\n                  \"time\" : \"1130\"\n               }\n            },\n
        \           {\n               \"close\" : {\n                  \"day\" : 1,\n
        \                 \"time\" : \"2130\"\n               },\n               \"open\"
        : {\n                  \"day\" : 1,\n                  \"time\" : \"1700\"\n
        \              }\n            },\n            {\n               \"close\"
        : {\n                  \"day\" [...]
