---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=University%20of%20Washington,%20Seattle,%20WA&key=<GOOGLE
      MAPS API KEY>&language=en&mode=walking&origin=Smith%20Tower,%20Seattle,%20WA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6x3yk7pqkFQRW2zXQJUlScA",
                 "types" : [ "establishment", "point_of_interest", "tourist_attraction" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6zWFnZIUkFQRoyu4AXksdGs",
                 "types" : [ "establishment", "point_of_interest", "university" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 47.6476359,
                       "lng" : -122.3015613
                    },
                    "southwest" : {
                       "lat" : 47.6018287,
                       "lng" : -122.3325134
                    }
                 },
                 "copyrights" : "Map data ©2020",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "4.2 mi",
                          "value" : 6704
                       },
                       "duration" : {
                          "text" : "1 hour 30 mins",
                          "value" : 5398
                       },
                       "end_address" : "Seattle, WA 98195, USA",
                       "end_location" : {
                          "lat" : 47.6476359,
                          "lng" : -122.3045419
                       },
                       "start_address" : "506 2nd Ave, Seattle, WA 98104, USA",
                       "start_location" : {
                          "lat" : 47.6018287,
                          "lng" : -122.3320368
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "213 ft",
                                "value" : 65
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 50
                             },
                             "end_location" : {
                                "lat" : 47.6023556,
                                "lng" : -122.3325134
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e on \u003cb\u003e2nd Ave\u003c/b\u003e toward \u003cb\u003eJames St\u003c/b\u003e",
                             "polyline" : {
                                "points" : "mfpaHf~siV_@Zc@`@WTMH"
                             },
                             "start_location" : {
                                "lat" : 47.6018287,
                                "lng" : -122.3320368
                             },
                             "travel_mode" : "WALKING"
                          },
                          {
                             "distance" : {
                                "text" : "0.6 mi",
                                "value" : 1037
                             },
                             "duration" : {
                                "text" : "19 mins",
                                "value" : 1122
                             },
                             "end_location" : {
                                "lat" : 47.60729509999999,
                                "lng" : -122.3207084
                             },
                             "html_instructions" : "Turn \u003cb\u003eright\u003c/b\u003e onto \u003cb\u003eJames St\u003c/b\u003e",
                             "maneuver" : "turn-right",
                             "polyline" : {
                                "points" : "wipaHdatiVCIQm@Oc@EQWy@M]AGGSMa@y@gCM]EQM_@u@kCMc@GQIYCI_@kAUk@Sm@GQAESm@Qk@KWQm@Oc@EQOc@e@{ASk@K]GQMc@e@{ASm@Ma@GSe@wAEQWw@Og@GQe@yAGQOg@Ws@GQU{@e@yASm@CKGQIWe@wAKY"
                             },
                             "start_location" : {
                                "lat" : 47.6023556,
                                "lng" : -122.3325134
                             },
           [...]
