---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=University%20of%20Washington,%20Seattle,%20WA&key=<GOOGLE
      MAPS API KEY>&language=en&mode=bicycling&origin=Smith%20Tower,%20Seattle,%20WA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6x3yk7pqkFQRW2zXQJUlScA",
                 "types" : [ "establishment", "point_of_interest", "tourist_attraction" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6zWFnZIUkFQRoyu4AXksdGs",
                 "types" : [ "establishment", "point_of_interest", "university" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 47.6561047,
                       "lng" : -122.3172645
                    },
                    "southwest" : {
                       "lat" : 47.6018103,
                       "lng" : -122.3389406
                    }
                 },
                 "copyrights" : "Map data ©2020",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "4.5 mi",
                          "value" : 7164
                       },
                       "duration" : {
                          "text" : "32 mins",
                          "value" : 1927
                       },
                       "end_address" : "Seattle, WA 98195, USA",
                       "end_location" : {
                          "lat" : 47.6560405,
                          "lng" : -122.3172645
                       },
                       "start_address" : "506 2nd Ave, Seattle, WA 98104, USA",
                       "start_location" : {
                          "lat" : 47.6018103,
                          "lng" : -122.3320826
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "0.6 mi",
                                "value" : 977
                             },
                             "duration" : {
                                "text" : "7 mins",
                                "value" : 393
                             },
                             "end_location" : {
                                "lat" : 47.6092799,
                                "lng" : -122.3389406
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e on \u003cb\u003e2nd Ave\u003c/b\u003e toward \u003cb\u003eJames St\u003c/b\u003e",
                             "polyline" : {
                                "points" : "ifpaHn~siV_@\\c@^_@Ze@d@kA`A]ZmC`C[XqAhA]ZoC`C}@x@oAfAmCbCi@d@eB|Ae@`@}CxCs@j@uAnA[Ta@`@"
                             },
                             "start_location" : {
                                "lat" : 47.6018103,
                                "lng" : -122.3320826
                             },
                             "travel_mode" : "BICYCLING"
                          },
                          {
                             "distance" : {
                                "text" : "0.6 mi",
                                "value" : 982
                             },
                             "duration" : {
                                "text" : "7 mins",
                                "value" : 408
                             },
                             "end_location" : {
                                "lat" : 47.6139385,
                                "lng" : -122.3278157
                             },
                             "html_instructions" : "Turn \u003cb\u003eright\u003c/b\u003e onto \u003cb\u003ePike St\u003c/b\u003e\u003cdiv style=\"font-size:0.9em\"\u003ePass by Starbucks (on the right)\u003c/div\u003e",
                             "maneuver" : "turn-right",
                             "polyline" : {
                                "points" : "_uqaHjiuiVs@qBa@_BGQo@sBk@kBo@kBk@mB}AaFm@kB[aASk@Ok@GSIWc@yAIYK[Y}@]iA_@iACGOc@Qi@AAIU?AUw@EQGQGSEKEK[cAAE[_A[_Ae@uAIWm@kB"
                             },
                             "start_location" : {
                                "lat" : 47.6092799,
                                "lng" : -122.3389406
                             },
                             "travel_mode" : "BICYCLI[...]
