---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=University%20of%20Washington,%20Seattle,%20WA&key=<GOOGLE
      MAPS API KEY>&language=en&mode=transit&origin=Smith%20Tower,%20Seattle,%20WA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6x3yk7pqkFQRW2zXQJUlScA",
                 "types" : [ "establishment", "point_of_interest", "tourist_attraction" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ6zWFnZIUkFQRoyu4AXksdGs",
                 "types" : [ "establishment", "point_of_interest", "university" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 47.6498399,
                       "lng" : -122.303608
                    },
                    "southwest" : {
                       "lat" : 47.6018287,
                       "lng" : -122.3384277
                    }
                 },
                 "copyrights" : "Map data ©2020",
                 "legs" : [
                    {
                       "arrival_time" : {
                          "text" : "1:29pm",
                          "time_zone" : "America/Los_Angeles",
                          "value" : 1578864582
                       },
                       "departure_time" : {
                          "text" : "1:11pm",
                          "time_zone" : "America/Los_Angeles",
                          "value" : 1578863497
                       },
                       "distance" : {
                          "text" : "4.4 mi",
                          "value" : 7077
                       },
                       "duration" : {
                          "text" : "18 mins",
                          "value" : 1085
                       },
                       "end_address" : "Seattle, WA 98195, USA",
                       "end_location" : {
                          "lat" : 47.6476359,
                          "lng" : -122.3045419
                       },
                       "start_address" : "506 2nd Ave, Seattle, WA 98104, USA",
                       "start_location" : {
                          "lat" : 47.6018287,
                          "lng" : -122.3320368
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "0.1 mi",
                                "value" : 211
                             },
                             "duration" : {
                                "text" : "3 mins",
                                "value" : 203
                             },
                             "end_location" : {
                                "lat" : 47.6031548,
                                "lng" : -122.3316907
                             },
                             "html_instructions" : "Walk to Pioneer Square Station",
                             "polyline" : {
                                "points" : "mfpaHf~siV_@Zc@`@WTMHCIQm@Oc@EQWy@M]AGGQaAz@"
                             },
                             "start_location" : {
                                "lat" : 47.6018287,
                                "lng" : -122.3320368
                             },
                             "steps" : [
                                {
                                   "distance" : {
                                      "text" : "213 ft",
                                      "value" : 65
[...]
